{{ define "title" }}Список ботов{{ end }}
{{ define "content" }}
    <table class="table-bot">
        <tr>
            <th>#</th>
			<th>IP</th>
			<th><a href="?sort=hits">Hits</a></th>
			<th><a href="?sort=valid">Valid hits</a></th>
			<th>Checked</th>
			<th>Result</th>
			<th><a href="?sort=bytes">Down</a></th>
			<th colspan="3">Actions</th>
        </tr>
        {{$currOffset := .CurrentOffset}}
        {{with .}}
        {{range $index,$elem := .Items}}
            <tr>
                <td>{{$currOffset|add $index}}</td>
                <td>{{.IP}}</td>
                <td>{{.Hits}}</td>
                <td>{{.WhiteHits}}</td>
                <td>{{if .Checked}}YES{{end}}</td>
                <td class="{{if .White}}good-cell{{end}}{{if .Banned}}bad-cell{{end}}">{{if .White}}+{{end}}{{if .Banned}}-{{end}}</td>
                <td>{{.Bytes|mgb}}</td>
                <td><a href="/info/ip?find={{.IP}}">view log</a></td>
                {{if .Banned}}
                    <td class="bad-cell"><a href="/info/ip/ban?ip={{.IP}}&action=unban">unban</a></td>
                {{else}}
                    <td class="good-cell"><a href="/info/ip/ban?ip={{.IP}}&action=ban">ban</a></td>
                {{end}}
                <td><a href="/info/whois?ip={{.IP}}">whois</a></td>
            </tr>
        {{end}}
        {{end}}
    </table>
    <div class="paginator">
        {{range $index, $page := .Pages}} 
            <a href="/info/?p={{$page}}">{{$page}}</a>
        {{end}}
    </div>
  {{end}}