body{
	font-family: Arial, sans-serif;
	font-size:0.8em;
	line-height:18px;
}
.table-bot {
	border-collapse:collapse;
	border:1px solid #d4d4d4;
}
.table-bot td, .table-bot th{
	border-top:1px solid #d4d4d4;
	border-left:1px solid #d4d4d4;
	padding:10px;
	text-align:center;
}
.table-bot th, .table-bot th a{
	color:#002386;
}
.good-cell{
	background-color:#dff0d8;
}
.bad-cell{
	background-color:#ffc9c9;
}
.paginator {
	margin:20px 0px;
}
.paginator a {
	padding:5px;
}
.fast-access{
	border:1px solid #d4d4d4;
	padding:10px;
}
.fast-access sup{
	color:#6b6b6b;
	padding-left:3px;
}
