{{ define "title"}}Поиск шаблона {{.Pattern}} в логах{{ end }}
{{ define "content" }}
<h1>Поиск {{.Pattern}}</h1>
	<div class="fast-access">
		<div>Быстрый переход</div>
			{{range $logfile, $data := .Matches}}

				{{ if $data }}
				<div><a href="#{{ $logfile }}">{{$logfile}}</a><sup>{{ $data|len}} найдено</sup></div>
				{{ end }}
			{{ end }}
		</div>

		{{range $logfile,$data := .Matches}}
			{{ if $data }}
				<a name="{{$logfile}}"></a>
				
				<h2>в файле {{ $logfile }}</h2>
				{{ range $data}}
					<div> {{ . }}</div>
				{{end }} 
			{{end }}
		{{ end }}
{{ end }}
